.Card {
  width: 80%;
  margin: 10% auto;
  color: white;
  display: flex;
  justify-content: space-between;
  transform: skewY(2deg);
}

.Skew {
  width: 100%;
  margin: auto;
  background-color: rgb(17, 16, 16);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  transform: skewY(-2deg);
}
.Skew:before {
  content: "";
  width: 40px;
  height: 40px;
  background-color: rgb(17, 16, 16);
  position: absolute;
  top: -39px;
  right: 0;
  z-index: -2;
}
.Skew:after {
  content: "";
  width: 80px;
  height: 80px;
  background-color: #1f1d1d;
  top: -80px;
  position: absolute;
  right: 0;
  border-radius: 50%;
  z-index: -1;
}
.project-info {
  width: 100%;
  margin: auto;
}

.project-image {
  width: 50%;
  margin: auto;
  display: block;
}

.tags-right {
  width: 50%;
  list-style: none;
  display: flex;
  margin: 0 auto;
}

.tag-right {
  width: 33%;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.tag-right + .tag-right {
  margin-left: 10px;
}
